body
{
color: white;
background: black;
font-family: "Raleway", sans-serif;
}

header 
{
    border-bottom: solid 2px rgb(119, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(119, 0, 0)

}

.chamada {
    background: rgb(119, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20px;
}
img{
    height: 200px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-video img{
    opacity: 0.5;
    height: 200px;
}

    .categoria-video img:hover {
        opacity: 1.0;
    }